@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
:root,
* {
    font-family: 'Jersey 15', sans-serif;
    box-sizing: border-box;
}
:root {
    --main-color: plum;
    --accent-color: purple;
    --white: #fff;
}
body {
    /* width: 100dvw;
    height: 100dvh; */
    background-image: url('../assets/background.jpg');
    background-size: cover;
    /* background: rgb(58, 56, 105);
    background: linear-gradient(
        90deg,
        rgba(58, 56, 105, 1) 25%,
        rgba(56, 176, 204, 0.7119441526610644) 67%,
        rgba(255, 0, 0, 0.821187850140056) 97%
    ); */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.2rem;
    margin: 0 20pz;
    /* overflow-x: hidden; */
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header > h1 {
    color: var(--white);
    margin: 50px;
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.header > h1:hover {
    color: var(--main-color);
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.searchForm {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    width: 60%;
}
.searchForm__input,
.searchForm__btn {
    font-size: 1.5rem;
    padding: 15px;
    border: none;
}
.searchForm__input {
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    flex: 1;
}
.searchForm__input:focus-visible {
    outline-color: var(--main-color);
}
.searchForm__btn {
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    width: 20%;
    background-color: var(--main-color);
}
.searchForm__btn:hover {
    filter: brightness(125%);
}

/* card */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.card {
    background-color: aliceblue;
    border-radius: 1.2rem;
    width: 40%;
    height: 50%;
    margin: 1rem;
    padding: 1.3rem;
    box-shadow: 10px 9px 20px -1px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 10px 9px 20px -1px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 10px 9px 20px -1px rgba(0, 0, 0, 0.51);
}
.movieImg {
    width: 100%;
    height: 75%;
    border-radius: 1.2rem;
}
.movieTitle {
    font-size: 2rem;
    margin: 1rem 0;
    text-shadow: 1px 1px 2px var(--main-color);
}
.movieContent {
    font-size: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.uptoBtn {
    /* fixed는 viewport 기준 이동 */
    position: fixed;
    border-radius: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--main-color);
    right: 3%;
    bottom: 3%;
}
.uptoBtn:hover {
    filter: brightness(125%);
}
